<section id="about-us" class="about-us">
  <!-- <div class="about-us__color-block"></div>-->
  <div class="about-us__container container">
    <span class="devider"></span>
    <h2 class="about-us__title title">What we do</h2>
    <div class="about-us__content">
      <div class="about-us__img-wrapper">
        <img class="img" src="./images/what1.png" alt="what1.png" />
      </div>
      <article class="article">
        <span class="article__uper-title">one world</span>
        <h2 class="title article__title">Trade center</h2>
        <p class="article__text">
          Increasing prosperity in our lives can be accomplished by having the
          right frame of mind. The truth is, our thoughts are very powerful.
        </p>
        <button class="button article__button">more details</button>
        <div class="location">
          <svg height="15" viewBox="0 0 512 512" width="15">
            <g>
              <path
                d="m407.579 87.677c-31.073-53.624-86.265-86.385-147.64-87.637-2.62-.054-5.257-.054-7.878 0-61.374 1.252-116.566 34.013-147.64 87.637-31.762 54.812-32.631 120.652-2.325 176.123l126.963 232.387c.057.103.114.206.173.308 5.586 9.709 15.593 15.505 26.77 15.505 11.176 0 21.183-5.797 26.768-15.505.059-.102.116-.205.173-.308l126.963-232.387c30.304-55.471 29.435-121.311-2.327-176.123zm-151.579 144.323c-39.701 0-72-32.299-72-72s32.299-72 72-72 72 32.299 72 72-32.298 72-72 72z"
              />
            </g>
          </svg>
          <span class="location__text"
            >New York City, United States - 1776 feet</span
          >
        </div>
      </article>
    </div>
  </div>
  <div class="about-us__container container">
    <div class="about-us__content">
      <article class="article">
        <span class="article__uper-title">INTERNATIONAL </span>
        <h2 class="title article__title">COMMERCE CENTRE</h2>
        <p class="article__text">
          Successful businesses have many things in common, today we’ll look at
          the big ‘R’ of recognition and how a digital advertising network may
          help.
        </p>
        <button class="button article__button">more details</button>
        <div class="location">
          <svg height="15" viewBox="0 0 512 512" width="15">
            <g>
              <path
                d="m407.579 87.677c-31.073-53.624-86.265-86.385-147.64-87.637-2.62-.054-5.257-.054-7.878 0-61.374 1.252-116.566 34.013-147.64 87.637-31.762 54.812-32.631 120.652-2.325 176.123l126.963 232.387c.057.103.114.206.173.308 5.586 9.709 15.593 15.505 26.77 15.505 11.176 0 21.183-5.797 26.768-15.505.059-.102.116-.205.173-.308l126.963-232.387c30.304-55.471 29.435-121.311-2.327-176.123zm-151.579 144.323c-39.701 0-72-32.299-72-72s32.299-72 72-72 72 32.299 72 72-32.298 72-72 72z"
              />
            </g>
          </svg>

          <span class="location__text">Hong Kong - 1588 Feet</span>
        </div>
      </article>
      <div class="about-us__img-wrapper">
        <img class="img" src="./images/what2.png" alt="what2.png" />
      </div>
    </div>
  </div>
</section>
