<section class="about-us">
  <div class="about-us__color-block"></div>
  <div class="about-us__container container">
    <span class="devider"></span>
    <h2 class="about-us__title title">What we do</h2>
    <div class="about-us__content">
      <div class="img-wrapper--big">
        <img src="./images/what1.png" alt="" />
      </div>
      <article class="article">
        <span class="article__uper-title">one world</span>
        <h2 class="title">Trade center</h2>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti,
          similique illo. Saepe fuga ratione eaque labore repellendus sunt
          magnam quod.
        </p>
        <button class="button">more details</button>
        <div class="location"></div>
        <span class="location__text">New York City,</span
        ><span class="location__text--italy">United States - 1776 feet</span>
      </article>
    </div>
  </div>
  <div class="about-us__container container">
    <div class="about-us__content">
      <article class="article">
        <span class="article__uper-title">one world</span>
        <h2 class="title">Trade center</h2>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti,
          similique illo. Saepe fuga ratione eaque labore repellendus sunt
          magnam quod.
        </p>
        <button class="button">more details</button>
        <div class="location"></div>
        <span class="location__text">New York City,</span
        ><span class="location__text--italy">United States - 1776 feet</span>
      </article>
      <div class="img-wrapper--big">
        <img src="./images/what1.png" alt="" />
      </div>
    </div>
  </div>
</section>
