<div id="contact" class="contact">
  <div class="contact__wraper">
    <img src="./images/Clip.png" alt="Clip.png" />
  </div>
  <form class="contact__form form">
    <span class="devider form__devider"></span>
    <h2 class="title form__title">get in touch</h2>
    <div class="form__main">
      <ul class="form__info-list">
        <li class="form__info-item">
          <span class="form__text">91 Nolan Extensions Suite 670</span>
        </li>
        <li class="form__info-item">
          <span class="form__text">+001 356-868-2454 </span>
        </li>
        <li class="form__info-item">
          <span class="form__text">gahuy93@gmail.com</span>
        </li>
        <li class="form__info-item">
          <span class="form__text">From 07:05AM to 19:30PM</span>
        </li>
      </ul>
      <div class="form__inputs">
        <input
          class="form__input"
          name="phone"
          type="phone"
          placeholder="Mollie Medina"
          required
        />
        <input
          class="form__input"
          name="email"
          type="mail"
          placeholder="Email"
          required
        />
        <div class="form__button-wrapper">
          <button class="button form__button">submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
