<section id="proects" class="section-gallery">
  <span class="devider section-gallery__devider"></span>
  <h2 class="title section-gallery__title">gallery</h2>
  <div class="gallery">
    <div class="coll coll--big">
      <img class="img" src="./images/galery-main.png" alt="galery-main.png" />
      <img class="gallery__360" src="./images/360.png" alt="360.png" />
    </div>
    <div class="coll">
      <div class="row">
        <div class="coll coll--small">
          <img class="img" src="./images/galery1.png" alt="galery1.png" />
        </div>
        <div class="coll coll--small">
          <img class="img" src="./images/galery2.png" alt="galery2.png" />
        </div>
      </div>
      <div class="row">
        <div class="coll coll--small">
          <img class="img" src="./images/galery3.png" alt="galery3.png" />
        </div>
        <div class="coll coll--small">
          <img class="img" src="./images/galery4.png" alt="galery4.png" />
        </div>
      </div>
    </div>
  </div>
  <button class="button section-gallery__button">see more</button>
</section>
