<section id="news" class="latest-news">
  <div class="latest-news__header">
    <span class="devider latest-news__devider"></span>
    <h2 class="title latest-news__title">Latest news</h2>
  </div>
  <div class="glide2">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides glide__slides--latest-news">
        <li class="glide__slide glide__slide--latest-news">
          <div class="card">
            <div class="card__wrapper">
              <img class="img" src="./images/Clip1.png" alt="" />
            </div>
            <div class="card__content">
              <h3 class="card__title">
                SEE THE UNMATCHED BEAUTY OF THE GREAT.
              </h3>
              <p class="card__text">
                Free directories: directories are perfect for customers that
                are... searching for
              </p>
              <div class="card__autor-block">
                <div class="card__autor-photo">
                  <img src="./images/autor1.png" alt="" />
                </div>
                <div class="card__autor-info">
                  <span class="card__autor-name">ISAAC DUNN</span>
                  <span class="card__post-date">09 Feb 2017</span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="glide__slide glide__slide--latest-news">
          <div class="card">
            <div class="card__wrapper">
              <img class="img" src="./images/Clip2.png" alt="" />
            </div>
            <div class="card__content">
              <h3 class="card__title">Lorem ipsum dolor sit.</h3>
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
                quae.
              </p>
              <div class="card__autor-block">
                <div class="card__autor-photo">
                  <img src="./images/autor2.png" alt="" />
                </div>
                <div class="card__autor-info">
                  <span class="card__autor-name">DOMINIC FREEMAN</span>
                  <span class="card__post-date">24 Apr 2017</span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="glide__slide glide__slide--latest-news">
          <div class="card">
            <div class="card__wrapper">
              <img class="img" src="./images/Clip3.png" alt="" />
            </div>
            <div class="card__content">
              <h3 class="card__title">Lorem ipsum dolor sit.</h3>
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
                quae.
              </p>
              <div class="card__autor-block">
                <div class="card__autor-photo">
                  <img src="./images/autor3.png" alt="" />
                </div>
                <div class="card__autor-info">
                  <span class="card__autor-name">ALICE WARD</span>
                  <span class="card__post-date">30 Dec 2017</span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="glide__slide glide__slide--latest-news">
          <div class="card">
            <div class="card__wrapper">
              <img class="img" src="./images/Clip2.png" alt="" />
            </div>
            <div class="card__content">
              <h3 class="card__title">Lorem ipsum dolor sit.</h3>
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
                quae.
              </p>
              <div class="card__autor-block">
                <div class="card__autor-photo">
                  <img src="./images/autor2.png" alt="" />
                </div>
                <div class="card__autor-info">
                  <span class="card__autor-name">Lorem ipsum</span>
                  <span class="card__post-date">10.06.2016</span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="glide__slide glide__slide--latest-news">
          <div class="card">
            <div class="card__wrapper">
              <img class="img" src="./images/Clip1.png" alt="" />
            </div>
            <div class="card__content">
              <h3 class="card__title">Lorem ipsum dolor sit.</h3>
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui,
                quae.
              </p>
              <div class="card__autor-block">
                <div class="card__autor-photo">
                  <img src="./images/autor1.png" alt="" />
                </div>
                <div class="card__autor-info">
                  <span class="card__autor-name">Lorem ipsum</span>
                  <span class="card__post-date">10.06.2016</span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        prev
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        next
      </button>
    </div>
    <div
      class="glide__bullets glide__bullets--latest-news"
      data-glide-el="controls[nav]"
    >
      <button class="glide__bullet" data-glide-dir="=0"></button>
      <button class="glide__bullet" data-glide-dir="=1"></button>
      <button class="glide__bullet" data-glide-dir="=2"></button>
      <button class="glide__bullet" data-glide-dir="=3"></button>
      <button class="glide__bullet" data-glide-dir="=4"></button>
    </div>
  </div>
</section>
