.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  &__map {
    height: 100%;
    height: 700px;
  }
  &__wrapper {
    width: 100%;
    height: 700px;
  }
  &__wraper {
    padding-bottom: 50%;
    height: 0;
  }
}
