.footer {
  min-height: 350px;
  position: relative;
  display: flex;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background: linear-gradient(
    225deg,
    rgba(124, 95, 255, 1) 0%,
    rgba(50, 140, 255, 1) 53%,
    rgba(0, 212, 255, 1) 100%
  );
  @media screen and (min-width: $screen-tablet) {
    padding-top: 65px;
    min-height: 625px;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    opacity: 0.1;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    display: flex;
    max-width: 768px;
    height: 200px;
    margin-bottom: 35px;
    @media screen and (min-width: $screen-tablet) {
      height: 140px;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0px;
    }
  }
  &__copy {
    color: $white;
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $screen-tablet) {
      flex-direction: row;
    }
  }
  &__text {
    margin-right: 20px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $screen-tablet) {
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }
}
