.section-gallery {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__devider {
    margin-bottom: 29px;
  }
  &__title {
    margin-bottom: 90px;
  }
  &__button {
    width: 190px;
    margin-bottom: 140px;
  }
}
.gallery {
  width: 100%;
  max-width: 1230px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $screen-tablet) {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    margin-bottom: 58px;
  }
  &__360 {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
  }
}
.coll {
  transition: all ease 0.6s;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 30px;

  &--big {
    z-index: 0;
    padding-bottom: 60%;
    @media screen and (min-width: $screen-tablet) {
      padding-bottom: 36.5%;
      &:hover {
        opacity: 0.6;
      }
      &:hover .gallery__360 {
        display: block;
      }
    }
  }
  &--small {
    background-color: rgba(0, 0, 0, 1);

    padding-bottom: 60%;
    @media screen and (min-width: $screen-tablet) {
      padding-bottom: 36.5%;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  @media screen and (min-width: $screen-tablet) {
    margin-bottom: 0px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.row {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $screen-tablet) {
    flex-direction: row;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
